  .push-1 {
    margin-left: 8.333333%;
  }
  
  .push-2 {
    margin-left: 16.666667%;
  }
  
  .push-3 {
    margin-left: 25%;
  }
  
  .push-4 {
    margin-left: 33.333333%;
  }
  
  .push-5 {
    margin-left: 41.666667%;
  }
  
  .push-6 {
    margin-left: 50%;
  }
  
  .push-7 {
    margin-left: 58.333333%;
  }
  
  .push-8 {
    margin-left: 66.666667%;
  }
  
  .push-9 {
    margin-left: 75%;
  }
  
  .push-10 {
    margin-left: 83.333333%;
  }
  
  .push-11 {
    margin-left: 91.666667%;
  }  
  .botao_vertical_linha{margin-top: 30px !important;}
  .botao_grande{width:100% !important;}
  .img_table{width:100px !important; height:100px !important;} 

  .loader-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999999;

    backdrop-filter: blur(4px); /* efeito moderno */
}

/* Caixa branca tipo modal */
.loader-content {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    animation: fadeIn 0.3s ease-in-out;
}

.loader-content p {
    margin-top: 15px;
    font-weight: 500;
    color: #333;
}

/* Animação */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}